{% extends 'base.html.twig' %}

{% block title %}Se connecter à votre compte BudgIX{% endblock %}

{% block body %}


<head>
    
    <title>Se connecter à votre compte BudgIX</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Chargement...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <form method="post" class="container-fluid">
            <!-- Sign In Start -->
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        {% if app.user %}
                            <div class="mb-3 text-center">
                                Vous êtes connecté(e) en tant que {{ app.user.prenom|capitalize}} {{ app.user.nom|upper }} <br> <a href="{{ path('app_logout') }}">Me déconnecter</a>
                            </div>
                        {% endif %}
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3 class="text-primary"><i class="fa fa-solid fa-chart-pie me-2"></i>BudgIX</h3>
                            <h4>Connexion</h4>
                        </div>

                        {% if error %}
                            <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        
                        <div class="form-floating mb-3">
                            <input type="email" value="{{ last_username }}" class="form-control" id="floatingInput" name="email"  autocomplete="email" required autofocus placeholder="name@example.com">
                            <label for="floatingInput">E-mail</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="floatingPassword" name="password" autocomplete="current-password" required placeholder="Password">
                            <label for="floatingPassword">Mot de passe</label>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <div class="td-flex align-items-center justify-content-between mb-4">
                            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">S'identifier</button>
                    </div>
                </div>
            </div>
        <!-- Sign In End -->

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        </form>
    </div>
</body>

{% endblock %}


