{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %} 


    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Chargement...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign Up Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 97vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">

                        {{ form_start(userForm) }}

                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="{{ path('app_home') }}" class="">
                                <h3 class="text-primary"><i class="fa fa-solid fa-chart-pie me-2"></i>BudgIX</h3>
                            </a>
                            <h5>Modification</h5>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form_row(userForm.prenom) }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form_row(userForm.nom) }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form_row(userForm.email) }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form_row(userForm.telephone) }}
                        </div>
                        <div class="form-check form-switch mb-4">
                            <label class="form-check-label" for="flexSwitchCheckDefault">{{ form_row(userForm.roles) }}</label>
                            
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Valider</button>
                    
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign Up End -->
    </div>

</body>

{% endblock %}
