{% extends 'base.html.twig' %}

{% block title %}Work Flow{% endblock %}

{% block body %}


<head>

    <meta content="" name="keywords">
    <meta content="" name="description">
    
</head>


<body>
<!-- Table Start -->
{{ include('_navbar.html.twig') }}
<div class="container-fluid pt-0 px-3">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="mb-2">
                    <h3 class="text-center text-uppercase">Saisie Budgétaire</h3>
                    <a href="{{ path('app_budget_nouvelle_ligne')}}" class="btn btn-outline-success rounded-pill"><i class="fa fa-solid fa-plus"></i></a> 
                </div>

                

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>


                            {{form_start(form)}}
                                <tr>
                                    <th>Geography</th>
                                    <th>Channel</th>
                                </tr>
                                <tr>
                                    <td>{{ form_row(form.geographie) }}</td>
                                    <td>{{ form_row(form.canal) }}</td>
                                </tr>
                                <div class="col">
                                    <button class="btn btn-primary"> Rechercher </button> 
                                </div>
                                
                            {{form_end(form)}}



                            <tr class= "table">
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col" class="table-danger">Actual</th>
                                <th scope="col" class="table-danger">Budget</th>
                                <th scope="col" class="table-danger">Variance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fait in faits %}
                                {% if not (faits is empty) %}
                            {# On boucle sur les lignes des faits #}
                            

                                <tr>
                                    <th class="table-danger">{{ fait.produit.getNomProduit()|capitalize }}</th>
                                    <th class="table-danger">Price</th>
                                    <td class="table-warning">{{ fait.actual }} €</td>
                                    <td class="table-success">{{ fait.budget }} €</td>
                                    {% set variance = fait.actual-fait.budget %}
                                    <td class="table-info">{{ variance }} €</td>

                                    <td> 
                                        <a href="{{ path('app_budget_modifier_ligne', {'id':fait.id}) }}" class="btn btn-outline-info rounded-pill"><i class="fa fa-solid fa-wrench"></i></a> 
                                        <a href="{{ path('app_budget_supprimer_ligne', {'id':fait.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette ligne ?');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-solid fa-minus"></i></a>                                             
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th scope="row">3</th>
                                    <td> Il n'y a aucune ligne dans votre grille budgétaire. </td>
                                </tr>
                                {% endif %}
                                </br>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
</body>
{% endblock %}
